header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(2, 600px);*/
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
    
  }
  
nav li {
    float: left;
 
    
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
  }
  
  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    /*display: grid;
    
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 8px auto 12px;
   
    justify-items: center;
   */
    }
.about {
    justify-content: space-between;
    display: flex;
}  
#about {
    background-color: lightgreen;
    flex-direction: column;
}
#profile-pic{
    width: 200px;
    height: 230px;
}
#projects {
    background-color: lemonchiffon;
}
#contact {
background-color: lavender;
}




  div {
      width: 75%;
      height: 25%;
  }

footer {
    background-color: aquamarine;
    display: grid;  
    justify-items: center;
    padding: 5px;
    margin: 10px; 
  }