body {
    background-color: #2e052f;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     
  }
  
  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
  }

h1 {
    color: white;
}

.header-image {
    
    height: 200px;
}

h2 {
    color: #d7b05a ;
    border-right: #d7b05a;
    border-style: none solid none none;
    padding: 1%;
    margin: 1%;
}
main {
     display: flex;
     flex-direction: column;
    }

section {
    display: flex;
    background-color: #2e052f;
}

section p {
  color: #ead5b6;
  margin: 2%;
  padding: 1%;
}

a {
    color: #ead5b6;
}
figcaption {
    color: #ead5b6;
}

#about {
    display: flex;  
}

#about div {
    display: flex;
    
}

#profile-pic{
    width: 200px;
    height: 230px;
    border-style: solid;
    border-color: #d5500f;
    border-radius: 5px;
    border-width: 10px;
    margin: 10%;

}

#work {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
}
.small-cards {
    justify-content: space-evenly;
}

#contact {
  justify-content: space-evenly;
}

footer {
    background-color: #d5500f;
    display: grid;  
    justify-items: center;
    padding: 1%;
    margin: 1%; 
  }